<head>
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>
    <% if (user != null) { %>
        <div class="profile-page">
            <form action="/profile" method="POST" enctype="multipart/form-data" class="profile-form" id="profile-form">
                <ul>
                    <li><h3>User ID: <%= user.id %></h3></li>
                    <li>
                        <label for="profile-username">User name</label>
                        <input type="text" id="profile-username" name="name" value="<%= user.name %>" minlength="8" maxlength="30">
                    </li>
                    <li>
                        <label for="profile-email">Email</label>
                        <input type="text" id="profile-email" name="email" value="<%= user.email %>" minlength="8" maxlength="30">
                    </li>
                    <li>
                        <label for="profile-password">Password</label>
                        <div class="password-container">
                            <input type="password" id="profile-password" name="password" value="<%= user.password %>" minlength="8" maxlength="30">
                            <i class="fa-solid fa-eye" id="eye"></i>
                        </div>
                    </li>
                    <li>
                        <p>Total posts:</p>
                        <p><%= user.posts %></p>
                    </li>
                    <li>
                        <label for="profile-file">Change picture</label>
                        <input type="file" id="profile-file" name="profile-file" accept="image/png, image/jpeg">
                    </li>
                    <li><img src="<%= user.img %>" alt="No profile picture" id="profile-picture"></li>
                    <li>
                        <div class="profile-reset-submit-buttons">
                            <button type="reset">Reset</button>
                            <button type="button" id="profile-submit-button">Save changes</button>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    <% } %>
</body>